# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
serviceAccountKey.json

# Node
node_modules/

# Vite
frontend/.vite/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#Promts
backend_promt.md